.button {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-radius: 0.3rem;
  border: none;
  padding: 0.8rem 1.4rem;
  min-width: 18rem;
  width: 18rem;
  margin-bottom: 8rem;
  color: #ffffff;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
}

.continue {
  background-color: #124e8a;
}

.continue:hover {
  background-color: #2570ad;
}

.cancel {
  background-color: #862d2d;
}

.cancel:hover {
  background-color: #b1372f;
}
