.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 4rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: 0.03rem;
  text-decoration: none;
  --webkit-box-shadow: 0px 3px 7px -4px #757575;
  box-shadow: 0px 3px 7px -4px #757575;
  transition: all 0.3s;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
}

/* Button types */

.submit,
.cancel,
.default {
  min-width: 20rem;
}

.submit {
  color: white;
  background-color: #809bce;
}

.submit:hover,
.submit:focus {
  background-color: #4873c4;
}

.cancel {
  color: #ffffff;
  background-color: #f67b75;
}

.cancel:hover,
.cancel:focus {
  background-color: #f25757;
}

.default {
  min-width: 25rem;
  color: white;
  background-color: #809bce;
}

.default:hover,
.default:focus {
  background-color: #4873c4;
}
