.personalInfoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    'susCardNumber cpf name'
    'birthDate socialName race'
    'sex gender sexuality'
    'schooling nationality motherName'
    'phone email fatherName'
    'monitoringType isDeceased isDeceased';
  column-gap: 2rem;
  row-gap: 1.8rem;
  margin-bottom: 3.2rem;
}

.personalInfoContainer > *:nth-child(1) {
  grid-area: susCardNumber;
}

.personalInfoContainer > *:nth-child(2) {
  grid-area: name;
}

.personalInfoContainer > *:nth-child(3) {
  grid-area: cpf;
}

.personalInfoContainer > *:nth-child(4) {
  grid-area: birthDate;
}

.personalInfoContainer > *:nth-child(5) {
  grid-area: socialName;
}

.personalInfoContainer > *:nth-child(6) {
  grid-area: phone;
}

.personalInfoContainer > *:nth-child(7) {
  grid-area: email;
}

.personalInfoContainer > *:nth-child(8) {
  grid-area: race;
}

.personalInfoContainer > *:nth-child(9) {
  grid-area: schooling;
}

.personalInfoContainer > *:nth-child(10) {
  grid-area: sex;
}

.personalInfoContainer > *:nth-child(11) {
  grid-area: gender;
}

.personalInfoContainer > *:nth-child(12) {
  grid-area: sexuality;
}

.personalInfoContainer > *:nth-child(13) {
  grid-area: nationality;
}

.personalInfoContainer > *:nth-child(14) {
  grid-area: motherName;
}

.personalInfoContainer > *:nth-child(15) {
  grid-area: fatherName;
}

.personalInfoContainer > *:nth-child(16) {
  grid-area: monitoringType;
}

.personalInfoContainer > *:nth-child(17) {
  grid-area: isDeceased;
}

.addressInfoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 2rem;
  row-gap: 1.8rem;
  grid-template-areas:
    'zipCode state city'
    'neighbourhood street houseNumber'
    'complement complement complement';
  margin-bottom: 3.2rem;
}

.addressInfoContainer > *:nth-child(1) {
  grid-area: zipCode;
}

.addressInfoContainer > *:nth-child(2) {
  grid-area: state;
}

.addressInfoContainer > *:nth-child(3) {
  grid-area: city;
}

.addressInfoContainer > *:nth-child(4) {
  grid-area: neighbourhood;
}

.addressInfoContainer > *:nth-child(5) {
  grid-area: street;
}

.addressInfoContainer > *:nth-child(6) {
  grid-area: houseNumber;
}

.addressInfoContainer > *:nth-child(7) {
  grid-area: complement;
}

/* Register info container */

.registerInfoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.patientControls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #f2f3f5;
  padding-top: 3.2rem;
}
