.gridContainer {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  column-gap: 2rem;
  grid-template-areas:
    'vdrl1Heading vdrl1Heading vdrl1Heading'
    'vdrl1Titration vdrl1Titration vdrl1Date'
    'vdrl2Heading vdrl2Heading vdrl2Heading'
    'vdrl2Titration vdrl2Titration vdrl2Date'
    'vdrl3Heading vdrl3Heading vdrl3Heading'
    'vdrl3Titration vdrl3Titration vdrl3Date';
}

.gridContainer > *:nth-child(1) {
  grid-area: vdrl1Heading;
}

.gridContainer > *:nth-child(2) {
  grid-area: vdrl1Titration;
}

.gridContainer > *:nth-child(3) {
  grid-area: vdrl1Date;
}

.gridContainer > *:nth-child(4) {
  grid-area: vdrl2Heading;
}

.gridContainer > *:nth-child(5) {
  grid-area: vdrl2Titration;
}

.gridContainer > *:nth-child(6) {
  grid-area: vdrl2Date;
}

.gridContainer > *:nth-child(7) {
  grid-area: vdrl3Heading;
}

.gridContainer > *:nth-child(8) {
  grid-area: vdrl3Titration;
}

.gridContainer > *:nth-child(9) {
  grid-area: vdrl3Date;
}
