.grid-container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  column-gap: 2rem;
  grid-template-areas:
    'vdrl1Heading vdrl2Heading  vdrl3Heading'
    'vdrl1Date vdrl2Date vdrl3Date'
    'vdrl1Titration vdrl2Titration vdrl3Titration';
}

.grid-container > *:nth-child(1) {
  grid-area: vdrl1Heading;
}

.grid-container > *:nth-child(2) {
  grid-area: vdrl1Date;
}

.grid-container > *:nth-child(3) {
  grid-area: vdrl1Titration;
}

.grid-container > *:nth-child(4) {
  grid-area: vdrl2Heading;
}

.grid-container > *:nth-child(5) {
  grid-area: vdrl2Date;
}

.grid-container > *:nth-child(6) {
  grid-area: vdrl2Titration;
}

.grid-container > *:nth-child(7) {
  grid-area: vdrl3Heading;
}

.grid-container > *:nth-child(8) {
  grid-area: vdrl3Date;
}

.grid-container > *:nth-child(9) {
  grid-area: vdrl3Titration;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.flex-container > label {
  margin-right: 1.2rem;
}
