.field {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

.field > label {
  color: #2b2a2a;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.field > input,
.field > select,
.field > textarea {
  height: 3.2rem;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.6rem 0.8rem;
  max-width: 100%;
  width: 100%;
  /* background-color: #f2f3f5; */
  border: 1px solid #dadada;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 6px -4px #757575;
  --webkit-box-shadow: 1px1px 6px -4px #757575;
}

.field > textarea {
  min-width: 100%;
  min-height: 20rem;
}

.field > input:focus,
.field > select:focus,
.field > textarea:focus {
  box-shadow: 0 0 2px 1px #809bce;
}

input[type='checkbox']:focus {
  outline: 2px solid #a6c0f0;
}
