.button {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  border-radius: 0.3rem;
  border: none;
  padding: 0.8rem 1.4rem;
  background-color: slateblue; /* Escolher cor de destaque do app */
  color: white;
}
