.heading {
  font-weight: 600;
}

.primary {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 4rem;
  text-align: center;
  padding-top: 3rem;
}

.secondary {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.2rem;
}

.tertiary {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
