.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}

.modalBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.6rem;
  padding: 5rem 6rem;
  max-width: 80rem;
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.messageContainer {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.buttonsContainer > button:first-child {
  margin-right: 6rem;
}
