.container {
  background-color: white;
  --webkit-box-shadow: 0px 3px 7px -4px #757575;
  box-shadow: 0px 3px 7px -4px #757575;
  border-radius: 0.6em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em;
  align-items: flex-start;
  justify-content: center;
}

.divider {
}
.label {
  display: block;
  font-size: 0.8em;
  color: #757575;
  margin-right: 1rem;
}
.item {
  font-size: 1.2em;
}
