/* Containers */

.selectedPatientCard {
  margin-bottom: 5rem;
}

.gridContainer {
  padding: 4rem 6rem 4rem 6rem;
  align-items: flex-start;
  justify-content: center;
}

/* Header */

.header {
  margin-bottom: 4.2rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

/* Body */

.body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer > *:not(:last-child) {
  margin-right: 3.2rem;
}
