/* Containers */

.selectedPatientCard {
  background-color: #ffffff;
  box-shadow: 2px 1px 8px -4px #757575;
  --webkit-box-shadow: 2px 1px 8px -4px #757575;
  border-radius: 0.4em;
  width: 90rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 4rem;
}

.innerContainer {
  padding: 4rem 6rem 4rem 6rem;
  align-items: flex-start;
  justify-content: center;
}

/* Header */

.cardHeader {
  margin-bottom: 4.2rem;
}

.heading {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}

/* Body */

.cardBody {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #757575;
  margin-right: 1rem;
}

.info {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.cardFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */

.cardFooter > .button {
  border: none;
  color: #ffffff;
}

.cardFooter > .button:not(:last-child) {
  margin-right: 3.2rem;
}

.cardFooter .icon {
  margin-right: 1rem;
}

/* Buttons */

.button {
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 10rem;
  box-shadow: 2px 1px 8px -4px #757575;
  --webkit-box-shadow: 2px 3px 7px -4px #757575;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.closeButton {
  position: absolute;
  right: 1.4rem;
  top: 1.4rem;
  color: #757575;
  background-color: #dadada;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 0.4rem;
}

.infoButton,
.editButton {
  background-color: #809bce;
}

.deleteButton {
  background-color: #f67b75;
}

.closeButton:hover,
.deleteButton:hover {
  background-color: #f25757;
  color: white;
}

.infoButton:hover,
.editButton:hover {
  background-color: #4873c4;
}
