.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.controls > a {
  color: inherit;
}

.controls a {
  text-decoration: none;
}

.info,
.edit {
  margin-right: 1rem;
}

.info:hover,
.edit:hover {
  color: #809bce;
}

.delete:hover {
  color: #f67b75;
}
