.grid-container {
  display: grid;
  column-gap: 2rem;
}

/* Informações pessoais */

.first-grid-container {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'susCodeNumber susCodeNumber susCodeNumber susCodeNumber name name name name name name name name'
    'cpf cpf cpf cpf socialName socialName socialName socialName socialName socialName socialName socialName'
    'birthDate birthDate birthDate gender gender gender nationality nationality nationality phone phone phone'
    'email email email email motherName motherName motherName motherName motherName motherName motherName motherName';
}

.first-grid-container > *:nth-child(1) {
  grid-area: susCodeNumber;
}

.first-grid-container > *:nth-child(2) {
  grid-area: name;
}

.first-grid-container > *:nth-child(3) {
  grid-area: cpf;
}

.first-grid-container > *:nth-child(4) {
  grid-area: socialName;
}

.first-grid-container > *:nth-child(5) {
  grid-area: birthDate;
}

.first-grid-container > *:nth-child(6) {
  grid-area: gender;
}

.first-grid-container > *:nth-child(7) {
  grid-area: nationality;
}

.first-grid-container > *:nth-child(8) {
  grid-area: phone;
}

.first-grid-container > *:nth-child(9) {
  grid-area: email;
}

.first-grid-container > *:nth-child(10) {
  grid-area: motherName;
}

/* Informações de endereço */

.second-grid-container {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'zipCode zipCode zipCode zipCode state state state state city city city city'
    'neighbourhood neighbourhood neighbourhood neighbourhood neighbourhood neighbourhood street street street street street street'
    'houseNumber houseNumber houseNumber complement complement complement complement complement complement complement complement complement';
}

.second-grid-container > *:nth-child(1) {
  grid-area: zipCode;
}

.second-grid-container > *:nth-child(2) {
  grid-area: state;
}

.second-grid-container > *:nth-child(3) {
  grid-area: city;
}

.second-grid-container > *:nth-child(4) {
  grid-area: neighbourhood;
}

.second-grid-container > *:nth-child(5) {
  grid-area: street;
}

.second-grid-container > *:nth-child(6) {
  grid-area: houseNumber;
}

.second-grid-container > *:nth-child(7) {
  grid-area: complement;
}
