.gridContainer {
  display: grid;
  column-gap: 2rem;
}

/* Informações pessoais */

.upperGridContainer {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    'susCardNumber susCardNumber susCardNumber susCardNumber name name name name name name name name'
    'cpf cpf cpf cpf socialName socialName socialName socialName socialName socialName socialName socialName'
    'birthDate birthDate birthDate birthDate phone phone phone phone email email email email'
    'sex sex sex sex gender gender gender gender sexuality sexuality sexuality sexuality'
    'nationality nationality nationality nationality motherName motherName motherName motherName motherName motherName motherName motherName'
    'notificationType notificationType notificationType notificationType fatherName fatherName fatherName fatherName fatherName fatherName fatherName fatherName'
    'isDeceased isDeceased isDeceased isDeceased isDeceased isDeceased isDeceased isDeceased isDeceased isDeceased isDeceased isDeceased';
}

.upperGridContainer > *:nth-child(1) {
  grid-area: susCardNumber;
}

.upperGridContainer > *:nth-child(2) {
  grid-area: name;
}

.upperGridContainer > *:nth-child(3) {
  grid-area: cpf;
}

.upperGridContainer > *:nth-child(4) {
  grid-area: socialName;
}

.upperGridContainer > *:nth-child(5) {
  grid-area: birthDate;
}

.upperGridContainer > *:nth-child(6) {
  grid-area: phone;
}

.upperGridContainer > *:nth-child(7) {
  grid-area: email;
}

.upperGridContainer > *:nth-child(8) {
  grid-area: sex;
}

.upperGridContainer > *:nth-child(9) {
  grid-area: gender;
}

.upperGridContainer > *:nth-child(10) {
  grid-area: sexuality;
}

.upperGridContainer > *:nth-child(11) {
  grid-area: nationality;
}

.upperGridContainer > *:nth-child(12) {
  grid-area: motherName;
}

.upperGridContainer > *:nth-child(13) {
  grid-area: notificationType;
}

.upperGridContainer > *:nth-child(14) {
  grid-area: fatherName;
}

.upperGridContainer > *:nth-child(15) {
  grid-area: isDeceased;
}

/* Informações de endereço */

.lowerGridContainer {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'zipCode zipCode zipCode zipCode state state state state city city city city'
    'neighbourhood neighbourhood neighbourhood neighbourhood neighbourhood neighbourhood street street street street street street'
    'houseNumber houseNumber houseNumber houseNumber complement complement complement complement complement complement complement complement';
}

.lowerGridContainer > *:nth-child(1) {
  grid-area: zipCode;
}

.lowerGridContainer > *:nth-child(2) {
  grid-area: state;
}

.lowerGridContainer > *:nth-child(3) {
  grid-area: city;
}

.lowerGridContainer > *:nth-child(4) {
  grid-area: neighbourhood;
}

.lowerGridContainer > *:nth-child(5) {
  grid-area: street;
}

.lowerGridContainer > *:nth-child(6) {
  grid-area: houseNumber;
}

.lowerGridContainer > *:nth-child(7) {
  grid-area: complement;
}
