.grid-container {
  display: grid;
  gap: 2rem 3rem;
}

/* Informações pessoais */

.first-grid-container {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'sus-code sus-code patient-name patient-name patient-name patient-name patient-name  cpf cpf cpf'
    'social-name social-name social-name social-name   birth-date birth-date gender gender nationality nationality'
    'phone phone email email email mother-name mother-name mother-name mother-name mother-name';
}

.first-grid-container > *:nth-child(1) {
  grid-area: sus-code;
}

.first-grid-container > *:nth-child(2) {
  grid-area: patient-name;
}

.first-grid-container > *:nth-child(3) {
  grid-area: cpf;
}

.first-grid-container > *:nth-child(4) {
  grid-area: social-name;
}

.first-grid-container > *:nth-child(5) {
  grid-area: birth-date;
}

.first-grid-container > *:nth-child(6) {
  grid-area: gender;
}

.first-grid-container > *:nth-child(7) {
  grid-area: nationality;
}

.first-grid-container > *:nth-child(8) {
  grid-area: phone;
}

.first-grid-container > *:nth-child(9) {
  grid-area: email;
}

.first-grid-container > *:nth-child(10) {
  grid-area: mother-name;
}

/* Informações de endereço */

.second-grid-container {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'zip-code zip-code state state city city neighbourhood neighbourhood neighbourhood'
    'street street street houseNumber houseNumber complement complement complement complement';
}

.second-grid-container > *:nth-child(1) {
  grid-area: zip-code;
}

.second-grid-container > *:nth-child(2) {
  grid-area: state;
}

.second-grid-container > *:nth-child(3) {
  grid-area: city;
}

.second-grid-container > *:nth-child(4) {
  grid-area: neighbourhood;
}

.second-grid-container > *:nth-child(5) {
  grid-area: street;
}

.second-grid-container > *:nth-child(6) {
  grid-area: houseNumber;
}

.second-grid-container > *:nth-child(7) {
  grid-area: complement;
}
