.infoContainer {
  max-width: 90rem;
  margin: 0 auto;
}

.personalInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 2rem;
  row-gap: 1.8rem;
  grid-template-areas:
    'name cpf'
    'role workLocation'
    'email admin';
  margin-bottom: 3.2rem;
}

.personalInfoContainer > *:nth-child(1) {
  grid-area: name;
}

.personalInfoContainer > *:nth-child(2) {
  grid-area: cpf;
}

.personalInfoContainer > *:nth-child(3) {
  grid-area: role;
}

.personalInfoContainer > *:nth-child(4) {
  grid-area: workLocation;
}

.personalInfoContainer > *:nth-child(5) {
  grid-area: email;
}

.personalInfoContainer > *:nth-child(6) {
  grid-area: admin;
}

.registerInfoContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}

.info > span {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.info > p {
  font-weight: 300;
}

/* Controls */

.userControls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #f2f3f5;
  padding-top: 3.2rem;
}

.button {
  padding: 0.8rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #ffffff;
  border: none;
  border-radius: 10rem;
  box-shadow: 2px 1px 8px -4px #757575;
  --webkit-box-shadow: 2px 3px 7px -4px #757575;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.edit {
  background-color: #809bce;
}

.delete {
  background-color: #f67b75;
}

.edit:hover {
  background-color: #4873c4;
}

.delete:hover {
  background-color: #f25757;
}

.icon {
  margin-right: 1rem;
}
