.listContainer {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.listContainer span {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.6rem;
}

.listHeader {
  background-color: #3a3a3a;
  border-radius: 0.4rem;
  padding: 1.6rem 2rem;
  display: grid;
  grid-template-columns: 2fr 2fr 5fr 3fr 1fr;
  color: #ffffff;
  margin-bottom: 0.4rem;
  font-weight: 300;
}

.list {
  border-radius: 0.4rem;
  margin-top: 4rem;
  margin: 0 auto;
}
