.container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, auto);
  column-gap: 2rem;
  grid-template-areas:
    'medication medication medication medication ubsLocation ubsLocation ubsLocation ubsLocation ubsLocation ubsLocation ubsLocation ubsLocation'
    'startDate startDate  startDate startDate dosage dosage dosage dosage dosage dosage dosage dosage'
    'observations observations observations observations observations observations observations observations observations observations observations observations'
    'partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo';
}

.container > *:nth-child(1) {
  grid-area: medication;
}

.container > *:nth-child(2) {
  grid-area: ubsLocation;
}

.container > *:nth-child(3) {
  grid-area: startDate;
}

.container > *:nth-child(4) {
  grid-area: dosage;
}

.container > *:nth-child(5) {
  grid-area: observations;
}

.container > *:nth-child(6) {
  grid-area: partnerInfo;
}
