.container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto;
  gap: 2rem 3rem;
  grid-template-areas:
    'medication medication ubs-location ubs-location ubs-location ubs-location start-date start-date'
    'dosage dosage dosage dosage dosage dosage dosage dosage'
    'observations observations observations observations observations observations observations observations'
    'partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo partnerInfo';
}

.container > *:nth-child(1) {
  grid-area: medication;
}

.container > *:nth-child(2) {
  grid-area: ubs-location;
}

.container > *:nth-child(3) {
  grid-area: start-date;
}

.container > *:nth-child(4) {
  grid-area: dosage;
}

.container > *:nth-child(5) {
  grid-area: observations;
}

.container > *:nth-child(6) {
  grid-area: partnerInfo;
}
