.trepTestGridContainer {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'trepTestType trepTestType trepTestType trepTestType trepTestType trepTestType trepTestResult trepTestResult trepTestResult trepTestResult trepTestResult trepTestResult'
    'trepTestDate trepTestDate trepTestDate trepTestDate trepTestDate trepTestDate trepTestLocation trepTestLocation trepTestLocation trepTestLocation trepTestLocation trepTestLocation';
}

.trepTestGridContainer > *:nth-child(1) {
  grid-area: trepTestType;
}

.trepTestGridContainer > *:nth-child(2) {
  grid-area: trepTestResult;
}

.trepTestGridContainer > *:nth-child(3) {
  grid-area: trepTestDate;
}

.trepTestGridContainer > *:nth-child(4) {
  grid-area: trepTestLocation;
}

.nonTrepTestGridContainer {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    'nonTrepTestVDRL nonTrepTestTitration nonTrepTestDate'
    'refObservations refObservations refObservations';
}

.nonTrepTestGridContainer > *:nth-child(1) {
  grid-area: nonTrepTestVDRL;
}

.nonTrepTestGridContainer > *:nth-child(3) {
  grid-area: nonTrepTestTitration;
}

.nonTrepTestGridContainer > *:nth-child(3) {
  grid-area: nonTrepTestDate;
}

.nonTrepTestGridContainer > *:nth-child(4) {
  grid-area: refObservations;
}

.nonTrepTestCheckboxContainer {
  display: flex;
}

.flexContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.flexContainer > label {
  margin-right: 1.2rem;
}

.flexContainer > input {
  margin-right: 5rem;
}
